.background-img { 
        background-image: url("../views/Untitled_design.png"
        );
        background-repeat: repeat;
        height: 100vh;
        margin: -10px -10px -10px -10px;
         background-position: center;
         opacity: 1.0;
}

@media (max-width: 900px) {
        .background-img { 
              height: 100vh;
              background-size: cover;
              height: 100vh;
              margin: -10px -10px -10px -10px;
               background-position: center;
        }
}
