.background-img { 
        background-image: url(C:\Users\16157\workspace\branch-out-churches\Untitled_design.png
        );
        background-size: cover;
        height: 100vh;
        object-fit: cover;
        margin: -10px -10px -10px -10px;
}

